body{font-family: 'Poppins', sans-serif;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
.orange{
    color: orange;
}
    
h1{
    font-size: 50px;  
}
#border{
    border-left: 5px solid red;
    margin: 10px;
    border-image-slice: 1;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange ,tomato);
    padding: 10px 40px;
    font-weight: 700;
    counter-reset: white;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
    
}
